@font-face {
  font-family: Nunito;
  src: url(/static/nunito.ttf);
}

html, body {
  background: #eff1f5;
  color: #11111b;

  margin: 0;
  padding: 0;

  font-family: Nunito, ui-sans-serif, sans-serif;
}

a {
  color: #1e66f5;
}

nav {
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding-left: 1em;
  padding-right: 1em;
}

main {
  max-width: 50%;
  min-width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
