{{ define "course" }}
		{{ template "head" . }}
		<title>{{ .Name }} Course | Scamalytics</title>
	</head>
	<body>
		{{ template "header" . }}
		<main>
			<h1>{{ .Name }} Course</h1>
			<ul>
			{{ $slug := .ID }}
			{{ range $i, $a := .Articles }}
				<li><a href="/courses/{{ $slug }}/article/{{ $i }}">{{ .Title }}</a></li>
			{{ end }}
			</ul>
		</main>
		{{ template "footer" . }}
{{ end }}
