{{ define "index" }}
{{ template "head" . }}
		<title>Home | Scamalytics</title>
	</head>
	<body>
		{{ template "header" . }}
		<main>
			<h1>Scamalytics</h1>
			<p>TODO: PUT LESSONS HERE</p>
		</main>
		{{ template "footer" . }}
{{ end }}
