{{ define "index" }}
{{ template "head" . }}
		<title>Home | Scamalytics</title>
	</head>
	<body>
		{{ template "header" . }}
		<main>
			<h1>Scamalytics</h1>
			<p>
				Scamalytics teaches you how to spot and avoid scams in a fun, easy way.
				<br>
				Sign up for an account today!
			</p>
		</main>
		{{ template "footer" . }}
{{ end }}
