{{ define "lessons" }}
		{{ template "head" . }}
		<title>Lessons | Scamalytics</title>
	</head>
	<body>
		{{ template "header" . }}
		<main>
			<h1>Lessons</h1>

			<div id="lessongrid">
				<ul>
					<li>Phishing emails</li>
					<li>Scam calls</li>
					<li>Air duct cleaning</li>
					<li>Tax scams</li>
					<li>Fake websites</li>
				</ul>
			</div>
		</main>
		{{ template "footer" . }}
{{ end }}
